<!DOCTYPE html>
<html lang="vi">
 <head>
    <meta charset="utf-8" />
    <title>Packing machine</title>
    <meta name="description" content="monitoring packaging machine system" />
    <link type="text/css" rel="stylesheet" href="/static/admin/style.css" />
    <link type="text/css" rel="stylesheet" href="/static/admin/normallize.css" />
 </head>
 <body>
   <div id="container">
        
      <div id="menu">
              <ul>
                <li>
                        <a href="main">Main</a>
                                <ul class="sub-menu">
                                        <li><a href="sen1">SENSOR1</a></li>
                                        <li><a href="sen2">SENSOR2</a></li>
                                        <li><a href="sen3">SENSOR3</a></li>
                                        <li><a href="pro">Total Product</a></li>
                                </ul>
                        </li>
                        <li><a href="status">Status</a></li>
                        <li><a href="barcode">Product Status</a></li>
              </ul>

      </div><!--#menu-->

      <div id="content">

              <div id="header">
                      <div id="logo"><img src="/static/admin/img/IU_logo.png"></div>
                      <div id="slogan"></div>
                      <p>INTERNATIONAL UNIVERSITY - VIETNAM NATIONAL UNIVERSITY</p>
              </div><!--#header-->

              <div class="call-to-action">
                <h3>Thesis Project</h3>
                <p>Automation packing machine</p>
              </div><!--.call-to-action-->

              <div class="row" id="intro">
                      <div id="box1" class="col">
                              <h2>TIA portal progarm sofware</h2>
                              <img src="/static/admin/img/TIA_logo.png" alt="Totally Integrated Automation" />
                              <p>Totally Integrated Automation Portal (TIA Portal) provides you with unrestricted access to our complete range of digitalized automation services, from digital planning and integrated engineering to transparent operation.</p>
                      </div>
                      <div id="box2" class="col">
                              <h2>Microsoft SQL Server</h2>
                              <img src="/static/admin/img/sql_logo.png" alt="Structured Query Language" />
                              <p>SQL Server is a relational database management system, or RDBMS, developed and marketed by Microsoft.</p>
                      </div>
                      <div id="box3" class="col">
                              <h2>Node js</h2>
                              <img src="/static/admin/img/node_logo.png" alt="Node.js Server" />
                              <p>Node.js is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript code outside of a web browser. Node.js lets developers use JavaScript to write command line tools and for server-side scripting—running scripts server-side to produce dynamic web page content before the page is sent to the user's web browser.</p>
                      </div>
              </div>

      </div><!--#content-->

      <div id="footer">

      </div><!--#footer-->
      <p>Copyright &copy; 2020 </p>
</div><!--#container-->
 </body>
</html>